<IfModule mod_rewrite.c>
    RewriteEngine On

    # Sesuaikan dengan nama folder project kamu di htdocs
    RewriteBase /toko_alattulis/

    # Abaikan jika file atau folder asli memang ada
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Arahkan semua request ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>